@page "/client-payment"

<h3>Client Payment</h3>

@* Error Validation feedback *@

@if (Errors.Count > 0)
{
    <div class="alert alert-danger">
        <p class="mb-3">Please fix the following issues:</p>
        <ul>
            @foreach (var error in Errors)
            {
                <li>@error</li>
            }
        </ul>
    </div>
}
@if (!string.IsNullOrWhiteSpace(feedback) && Errors.Count == 0)
{
    <div class="alert alert-info">
        @feedback
    </div>
}


<div class="container border">   
  <section id="section-one" >
        <fieldset>
            <legend>Client Search</legend>
            <div id="search" class="row-cols-3">
                <div>
                    <select class="form-control form-select w-100" id="search-criteria" @bind="SearchCriteria">
                        <option selected value="">Search Criteria</option>
                        <option value="date">Appointment Date</option>
                        <option value="name">Client Name</option>
                    </select>
                </div>
                <div>
                    @if (SearchCriteria == "date")
                    {
                        <input class="form-control" type="date" id="search-input" @bind="SearchByDate" />
                    }
                    else if (SearchCriteria == "name")
                    {
                        <input class="form-control" type="text" id="search-input" @bind="SearchByName" />
                    }
                    else if (SearchCriteria == "")
                    {
                        <input class="form-control" disabled type="text" id="search-input" />
                    }

                </div>
                <div>
                    <button class="btn btn-primary" @onclick="OnHandleSearchCriteria">Search</button>
                </div>
            </div>
        </fieldset>
        <div id="results" class="d-flex">
            <div class="col-6" id="col-results-1">
                <div id="table-container-1">
                    <table id="search-client-results" class="table table-striped">
                        <thead>
                            <tr>
                                <th>Client ID</th>
                                <th>Name</th>
                                <th>Appointment Date</th>
                            </tr>
                        </thead>
                        <tbody>

                            @if (SearchClients != null && SearchClients.Any())
                            {
                                @foreach (var c in SearchClients)
                                {
                                    <tr @onclick="() => HandleSelectedClient(c.ClientId)">
                                        <td>@c.ClientId</td>
                                        <td>@c.Name</td>
                                        <td>@c.AppointmentDate.ToString("yyyy-MM-dd")</td>
                                    </tr>
                                }
                            }
                            else
                            {
                                <tr id="table-alert" class="@AlertClass">
                                    <td colspan="12">
                                        <p class="text-center m-auto"><strong>No clients</strong></p>
                                    </td>
                                </tr>
                            }

                        </tbody>
                    </table>
                </div>
            </div>

            <div class="col-6" id="col-results-2">
                <h5>Client Details</h5>
                <fieldset class="mt-0">
                    <div id="client-info">
                        @if (Client != null)
                        {
                            <div>
                                <label for="client-id" class="col-4">Client Id:</label>
                                <input class="form-control" disabled id="client-id" @bind="Client.ClientId"/>
                            </div>
                            <div>
                                <label for="client-name" class="col-4">Client Name:</label>
                                <input class="form-control" disabled id="client-name" @bind="Client.Name"/>
                            </div>
                            <div>
                                <label for="client-email" class="col-4">Email:</label>
                                <input class="form-control" disabled id="client-email" @bind="Client.Email" />
                            </div>
                            <div>
                                <label for="client-contact-name" class="col-4">Contact Name:</label>
                                <input class="form-control" disabled id="client-contact-name" @bind="Client.ContactName" />
                            </div>
                            <div>
                                <label for="client-phone-number" class="col-4">Phone Number:</label>
                                <input class="form-control" disabled id="client-phone-number" @bind="Client.PhoneNumber" />
                            </div>
                        }
                        else
                        {
                            <div id="table-alert" class="alert alert-warning">
                                <p class="text-center m-auto"><strong>Select a client from the list</strong></p>
                                
                            </div>
                        }
                    </div>
                </fieldset>
               <div class="mt-2">
                    <h5>Client Sessions</h5>
                    <div id="table-container-2">

                        <table id="client-sessions-list" class="table table-striped">
                            <thead>
                                <tr>
                                    <th>Session Number</th>
                                    <th>Date</th>
                                    <th>Notes</th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (ClientSessions != null)
                                {
                                    @foreach (var session in ClientSessions)
                                    {
                                        <tr>
                                            <td>@session.SessionNumber</td>
                                            <td>@session.AppointmentDate?.ToString("yyyy-MMM-dd")</td>
                                            <td>@session.Notes</td>
                                        </tr>
                                    }
                                }
                                else
                                {
                                    <tr id="table-alert" class="alert alert-warning">
                                        <td colspan="12">
                                            <p class="text-center m-auto"><strong>Select a client from the list</strong></p>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
               </div>
            </div>
        </div>   
  </section>
    <!--End section-one-->
  <section id="section-two">    
    <div id="package-info" class="">
        <h4>Client Package Info</h4>
        <div id="table-container-3">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Package<br />Number</th>
                        <th>Session<br />Number</th>
                        <th>Package<br />Type</th>
                        <th>Purchase<br />Date</th>
                        <th>Used</th>
                        <th>Usage Date</th>
                        <th>Remaining<br />Sessions</th>
                    </tr>
                </thead>
                <tbody>     
                    <tr>
                        <td>1001</td>
                        <td>1001-001</td>
                        <td>5</td>                       
                        <td>2024-02-01</td>
                        <td>Yes</td>
                        <td>2024-02-15</td>
                        <td>2</td>
                    </tr>
                   
                        <tr>
                            <td>1001</td>
                            <td>1001-002</td>
                            <td>5</td>
                            <td>2024-02-01</td>
                            <td>Yes</td>
                            <td>2024-02-12</td>                            
                            <td>2</td>
                        </tr>
                        <tr>
                            <td>1001</td>
                            <td>1001-003</td>
                            <td>5</td>
                            <td>2024-02-01</td>
                            <td>Yes</td>
                            <td>2024-02-18</td>
                            <td>2</td>
                        </tr>
                        <tr>
                            <td>1001</td>
                            <td>1001-004</td>
                            <td>5</td>
                            <td>2024-02-01</td>
                            <td>No</td>
                            <td></td>
                            <td>2</td>
                        </tr>
                        <tr>
                            <td>1001</td>
                            <td>1001-005</td>
                            <td>5</td>
                            <td>2024-02-01</td>
                            <td>No</td>
                            <td></td>
                            <td>2</td>
                        </tr>

                        <!--10-session pack-->
                        <tr>
                            <td>1001</td>
                            <td>1001-006</td>
                            <td>10</td>
                            <td>2024-02-20</td>
                            <td>Yes</td>
                            <td>2024-02-20</td>
                            <td>6</td>
                        </tr>
                        <tr>
                            <td>1001</td>
                            <td>1001-007</td>
                            <td>10</td>
                            <td>2024-02-20</td>
                            <td>Yes</td>
                            <td>2024-03-11</td>
                            <td>6</td>
                        </tr>
                        <tr>
                            <td>1001</td>
                            <td>1001-008</td>
                            <td>10</td>
                            <td>2024-02-20</td>
                            <td>Yes</td>
                            <td>2024-03-20</td>
                            <td>6</td>
                        </tr>
                        <tr>
                            <td>1001</td>
                            <td>1001-009</td>
                            <td>10</td>
                            <td>2024-02-20</td>
                            <td>Yes</td>
                            <td>2024-04-01</td>
                            <td>6</td>
                        </tr>
                        <tr>
                            <td>1001</td>
                            <td>1001-0010</td>
                            <td>10</td>
                            <td>2024-02-20</td>
                            <td>No</td>
                            <td></td>
                            <td>6</td>
                        </tr>
                        <tr>
                            <td>1001</td>
                            <td>1001-011</td>
                            <td>10</td>
                            <td>2024-02-20</td>
                            <td>No</td>
                            <td></td>
                            <td>6</td>
                        </tr>
                        <tr>
                            <td>1001</td>
                            <td>1001-012</td>
                            <td>10</td>
                            <td>2024-02-20</td>
                            <td>No</td>
                            <td></td>
                            <td>6</td>
                        </tr>
                        <tr>
                            <td>1001</td>
                            <td>1001-013</td>
                            <td>10</td>
                            <td>2024-02-20</td>
                            <td>No</td>
                            <td></td>
                            <td>6</td>
                        </tr>
                                                <tr>
                            <td>1001</td>
                            <td>1001-014</td>
                            <td>10</td>
                            <td>2024-02-20</td>
                            <td>No</td>
                            <td></td>
                            <td>6</td>
                        </tr>
                        <tr>
                            <td>1001</td>
                            <td>1001-015</td>
                            <td>10</td>
                            <td>2024-02-20</td>
                            <td>No</td>
                            <td></td>
                            <td>6</td>
                        </tr>

                    </tbody>
            </table>
        </div>
    </div>
    </section>
    <section id="section-three">
        <fieldset>
            <legend>Payment Details</legend>
            <div id="payment-details" class="col-8">
                <div class="">
                    <label for="purchase-type" class="form-check-label col-3">Purchase Type:</label>
                    <div>
                        <span>Session</span><input class="form-check-input mx-3" name="purchase-type" type="radio" id="purchase-session" checked="@(!PurchasePackage)" @onchange="() => PurchasePackage = false" />
                        <span>Package</span><input class="form-check-input mx-3" name="purchase-type" type="radio" id="purchase-package" checked="@PurchasePackage" @onchange="() => PurchasePackage = true" />
                    </div>
                    @if (PurchasePackage)
                    {
                        <select class="form-control form-select mx-3" id="package-type">
                            <option disabled selected value="">Select Package Type</option>
                            <option value="5">5 Sessions</option>
                            <option value="10">10 Sessions</option>
                        </select>
                    }
                    else
                    {
                        @* <select class="form-control form-select mx-3" id="session-quantity">
                            <option disabled selected value="">Select Sessions Quantity</option>   
                            <option></option>
                        </select> *@

                        <input class="form-control" type="number"  placeholder="Sessions Quantity"/>
                    }
                </div>
                <div>
                    <label for="referral" class="form-check-label col-3">Referral:</label>
                    <div>
                        <span>Yes</span><input class="form-check-input mx-3" name="referral" type="radio" id="" checked="@HasReferrals" @onchange="() => HasReferrals = true" />
                        <span>No</span><input class="form-check-input mx-3" name="referral" type="radio" id="" checked="@(!HasReferrals)" @onchange="() => HasReferrals = false"/>
                    </div>
                </div>

                <div class="row-cols-2">
                    <label for="" class="form-label col-3">Referral Name(s):</label>
                    @if(HasReferrals)
                    {
                        <div class="row-cols-2">
                            <select class="form-control form-select" id="referral-client-1">
                                <option disabled selected value="">Select Client</option>
                                @if (Clients != null)
                                {
                                    @foreach (var client in Clients)
                                    {
                                        <option>@client.Name</option>
                                    }
                                }
                            </select>
                            <select class="form-control form-select mx-3" id="referral-client-2">
                                <option disabled selected value="">Select Client</option>
                                @if (Clients != null)
                                {
                                    @foreach (var client in Clients)
                                    {
                                        <option>@client.Name</option>
                                    }
                                }
                            </select>
                        </div>
                    }
                    else
                    {
                        <div class="row-cols-2">
                            <select disabled="@(!HasReferrals)" class=" form-control form-select" id="referral-client-1">
                                <option disabled selected value="">Select Client</option>
                                @if (Clients != null)
                                {
                                    @foreach (var client in Clients)
                                    {
                                        <option>@client.Name</option>
                                    }
                                }
                            </select>
                            <select disabled="@(!HasReferrals)" class="form-control form-select mx-3" id="referral-client-2">
                                <option disabled selected value="">Select Client</option>
                                @if (Clients != null)
                                {
                                    @foreach (var client in Clients)
                                    {
                                        <option>@client.Name</option>
                                    }
                                }
                            </select>
                        </div>
                        
                    }
                </div>
            </div>

        </fieldset>
       
    </section>

</div>

