@page "/rental-contract-management"

<h3>Rental Contract Management</h3>

@if (!string.IsNullOrWhiteSpace(feedback))
{
    <div class="alert alert-info">
        @feedback
    </div>
}


<div class="container border">
    <section id="section-one">
        <fieldset>
            <legend>Rental Contracts</legend>
            <div id="contract-search">
                <div id="contract-search">
                    <select class="form-select" id="search-criteria" value="@SearchCriteria" @onchange="HandleSearch">
                        <option selected value="">Search Criteria</option>
                        <option value="all">All Contracts</option>
                        <option value="active">Active Contracts</option>
                        <option value="pending">Pending Contracts</option>
                        <option value="expired">Expired Contracts</option>
                    </select>
                </div>
                <div>
                    <button class="btn btn-primary" @onclick="HandleAddNewContract">New Contract</button>
                </div>
                <div>
                    <button class="btn btn-info">Reports</button>
                </div>                
            </div>

             <div id="results" class="">
                  <div class="" id="col-results-1">
                      <div id="table-container-1">
                          <table id="search-client-results" class="table table-striped">
                              <thead>
                                  <tr>
                                      <th colspan="2">Action</th>
                                      <th>Contract<br />Number</th>
                                      <th>Status</th>
                                      <th>Expiry Date</th>
                                      <th>Days<br />Remaining</th>
                                      <th>Notes</th>
                                  </tr>
                              </thead>
                              <tbody>
                               @if (SearchContracts != null)
                                {
                                    @foreach (var contract in SearchContracts)
                                    {
                                        <tr @onclick="() => HandleSelectedContract(contract.ContractNumber)">
                                            <td id="edit-contract"><a id="edit" class="">Edit</a></td>
                                            <td id="contact-renter"><a id="contact" class="">Contact</a></td>
                                            <td>@contract.ContractNumber</td>
                                            <td>@contract.IsActive</td>
                                            <td>@contract.EndDate</td>
                                            @if (contract.DaysRemaining <= 30 && contract.IsActive != "pending")
                                            {
                                                <td class="text-danger">@contract.DaysRemaining</td>
                                            }
                                            else
                                            {
                                                <td>@contract.DaysRemaining</td>
                                            }
                                            <td class="text-start">@contract.Notes</td>
                                        </tr>                                        
                                    }
                                }                             
                              </tbody>
                          </table>
                      </div>                    
                  </div>                
             </div>           
        </fieldset>
    </section>
    <!--End section-one-->
    <section id="section-two" hidden="@SectionTwoIsHidden" class="">
         <fieldset>
             <legend>New Contract</legend>
             <div id="new-contract" class="w-100">
                <div class="row-cols-3">
                    <label for="renter-name" class="form-label col-2" >Renter Name:</label>
                    <input class="col-4 form-control" id="renter-name" />
                </div>
                <div>
                    <label for="renter-address" class="form-label col-2">Address:</label>
                    <input class="form-control" id="renter-address" />
                </div>
                <div>
                    <label for="province" class="form-label col-2">Province:</label>
                    <select class="form-select" id="province">
                        <option vlaue="">Select Province</option>
                        <option vlaue="">AB</option>
                        <option vlaue="">SK</option>
                    </select>
                </div>
                <div>
                    <label for="city" class="form-label col-2">City:</label>
                    <select class="form-select" id="city">
                        <option vlaue="">Select City</option>
                        <option vlaue="">Edmonton</option>
                        <option vlaue="">Calgary</option>
                    </select>
                </div>
                <div>
                    <label for="renter-phone-number" class="form-label col-2">Phone Number:</label>
                    <input class="form-control" id="renter-phone-number" />
                </div>
                <div>
                    <label for="rate" class="form-label col-2">Rate:</label>
                    <select class="form-select" id="rate">
                        <option vlaue="0">Select rate</option>
                        <option vlaue="80">80</option>
                        <option vlaue="120">120</option>
                        <option vlaue="100">100</option>
                    </select>
                </div>
                <div>
                    <label for="start-date" class="form-label col-2">Start Date:</label>
                    <input class="form-control" type="date" id="start-date" />
                </div>
                <div>
                    <label for="end-date" class="form-check-label col-2">End Date:</label>
                    <input class="form-control" type="date" id="end-date" />
                </div>
                <div>
                    <label for="end-date" class="form-check-label col-2">Renter Verified:</label>
                    <span>Yes</span><input class="form-check-input mx-3" name="renter-verification" type="radio" id="renter-verified" />
                    <span>No</span><input class="form-check-input mx-3" name="renter-verification" type="radio" id="renter-not-verified" />
                </div>
                <div>
                    <label for="end-date" class="form-check-label col-2">Contract Status:</label>
                    <span>Active</span><input class="form-check-input mx-3" name="contract-status" type="radio" id="contract-active" />
                    <span>Pending</span><input class="form-check-input mx-3" name="contract-status" type="radio" id="contract-Inactive" />
                </div>
             </div>
             <div id="new-contract-buttons-menu" class="m-auto">
                <div>
                    <button class="btn btn-primary">Save</button>
                </div>
                <div>
                    <button class="btn btn-info" @onclick="ClearFields">Clear</button>
                </div>
                <div>
                    <button class="btn btn-danger" @onclick="() => SectionTwoIsHidden = HandleCancelAction()">Cancel</button>
                </div>
             </div>
         </fieldset>
     </section>
    <!--End section-two-->

    <section id="section-three" hidden="@SectionThreeIsHidden">
        <fieldset>
            <legend class="mb-4">Contact Renter</legend>
            <div class="d-flex">
                @if (RentalContract != null)
                {
                    <div class="col-5">
                        <div class="d-flex">
                            <label for="contract-number" class="col-3">Contract Number:</label>
                            <input class="form-control w-100" disabled id="contract-number" @bind="RentalContract.ContractNumber" />
                        </div>
                        <div class="d-flex">
                            <label for="renter-name" class="col-3">Renter Name:</label>
                            <input class="form-control" disabled id="renter-name" @bind="RentalContract.RenterName" />
                        </div>
                        <div class="d-flex">
                            <label for="email" class="col-3">Email:</label>
                            <input class="form-control" type="email" id="email" @bind="RenterEmail" />
                        </div>
                        <div class="d-flex">
                            <label for="phone" class="col-3">Phone Number:</label>
                            <input class="form-control" disabled id="phone" @bind="RentalContract.PhoneNumber" />
                        </div>
                    </div>
                    <div class="col-7">
                        <div class="d-flex">
                            <label for="message" class="col-2">Message:</label>
                            <textarea class="form-control" rows="3" id="message" @bind="EmailBody" />
                        </div>
                        <div class="d-flex">
                            <label for="notes" class="col-2">Notes:</label>
                            <textarea class="form-control" rows="3" id="notes" @bind="RentalContract.Notes" />
                        </div>
                    </div>

                }     
            </div>
            <div id="contact-buttons-menu" class="mt-3">
                <div>
                    <button class="btn btn-primary" @onclick="@(() => SendEmail(RenterEmail, EmailBody))">Contact</button>
                </div>
                <div>
                    <button class="btn btn-info" @onclick="ClearFields">Clear</button>
                </div>
                <div>
                    <button class="btn btn-danger" @onclick="() => SectionThreeIsHidden = HandleCancelAction()">Cancel</button>
                </div>
            </div>
        </fieldset>

    </section>
    <!--End section-three-->

    <section id="section-four">
        <fieldset>
            <legend>Edit Contract</legend>
            <div id=""></div>
            <div id="new-contract-buttons-menu" class="m-auto">
                <div>
                    <button class="btn btn-primary">Save Changes</button>
                </div>
                <div>
                    <button class="btn btn-info" @onclick="ClearFields">Clear</button>
                </div>
                <div>
                    <button class="btn btn-danger" >Cancel</button>
                </div>
            </div>
        </fieldset>
    </section>
    <!--End section-four-->
    <section id="section-five">
        <fieldset>
            <legend>Create Report</legend>
            <div></div>
            <div id="new-contract-buttons-menu" class="m-auto">
                <div>
                    <button class="btn btn-primary">Create Report</button>
                </div>
                <div>
                    <button class="btn btn-info" @onclick="ClearFields">Clear</button>
                </div>
                <div>
                    <button class="btn btn-danger" >Cancel</button>
                </div>
            </div>
        </fieldset>
    </section>
</div>

